.inventory-control {
    position  : fixed;
    bottom    : 0;
    left      : 50%;
    transform : translate(-50%, 0);
    width     : 54px;
    height    : 24px;
    overflow  : hidden;
    transition: bottom .6s ease, filter .3s ease;
    z-index   : 998;
    animation : attentionSeeker 6s infinite alternate;
}

@keyframes attentionSeeker {

    0%,
    25% {
        transform: translate(-50%, 0) rotate(0) scale(1);
    }

    45% {
        transform: translate(-50%, 0) rotate(5deg);
    }

    60% {
        transform: translate(-50%, 0) rotate(-5deg);
    }

    75% {
        transform: translate(-50%, 0) rotate(0) scale(1);
    }

    85% {
        transform: translate(-50%, 0) rotate(0) scale(1.3);
    }

    95%,
    100% {
        transform: translate(-50%, 0) rotate(0) scale(1);
    }
}

.inventory-control.open {
    bottom   : 83px;
    animation: none;
}

.inventory-control:hover {
    filter: brightness(.7);
}

.inventory-control::before {
    content         : '';
    position        : absolute;
    top             : 8px;
    left            : 5px;
    width           : 44px;
    height          : 44px;
    transform       : rotate(45deg);
    background-color: var(--palest-blue-color);
}

.inventory-control::after {
    content         : '';
    position        : absolute;
    top             : 16px;
    left            : 5px;
    width           : 44px;
    height          : 44px;
    transform       : rotate(45deg);
    background-color: var(--darkest-blue-color);
}

.inventory {
    position       : fixed;
    bottom         : -83px;
    left           : calc(50% - 3px);
    transform      : translate(calc(-50% - 3px), 0);
    display        : flex;
    gap            : 1rem;
    padding        : .5rem;
    border         : 3px solid var(--palest-blue-color);
    border-bottom  : none;
    border-radius  : 10px 10px 0 0;
    z-index        : 99;
    backdrop-filter: blur(3px);
    transition     : bottom .6s ease;
}

.inventory.open {
    bottom: 0;
}

.inventory img:not(:first-child) {
    padding-left: 3px;
    border-left : 3px solid var(--palest-blue-color);
}

.inventory img:hover {
    transition: filter .3s ease;
    filter    : brightness(.6);
}

/* Containers */
.container {
    position        : fixed;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    z-index         : 100;
    backdrop-filter : blur(5px);
    background-color: rgba(255, 0, 0, .3);
    border-radius   : 12px;
    padding         : 1rem;
}

/* SVG's */

svg {
    width    : 100%;
    height   : 100vh;
    position : absolute;
    top      : 50%;
    transform: translate(0, -50%);
}

svg * {
    transition: stroke .4s ease, fill .4s ease;
}

.stroke-color {
    stroke: var(--white);
}

.fill-white-color {
    fill: var(--white);
}

/* Mirror */
#Mirror {
    transform-origin: top;
    transition      : transform .4s ease;
}

#Mirror *:not(#Outer-frame) {
    pointer-events: none;
}

/* Door */
#Knob,
#Open-knob,
#Note,
#Outer-frame,
.fill-bg-color {
    fill: var(--darkest-blue-color);
}

/* Table */
#Open-Drawer1,
#Open-Drawer2,
#Open-Drawer3 {
    visibility: hidden;
}